.DesktopNav {

  .nav-menu {
    z-index: 3;
    background-color: var(--background);
    padding: 15px 0;
    padding-bottom: 65px;
    margin-bottom: 65px;
    height: calc(100vh - 65px);
    overflow:auto;
    width: 220px;
    position: fixed;
    top: 0;
    right: 0;
  }
  .current-track {
    background-color: var(--background);
    height: 65px;
    width: 220px;
    position: fixed;
    right: 0;
    bottom: 65px;
    padding: 5px;
    border-top: 1px solid var(--divider-lighter);
    display: flex;
    align-items: center;
    z-index: 3;

    img {
      width: 55px;
      height: 55px;
    }

    .track-info {
      display: flex;
      flex-direction: column;
      width: 155px;
    }

    span {
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      margin-left: 5px;

    }
    .track-title {
      font-size: 14px;
    }

    .track-artist {
      font-size: 13px;
      color: var(--secondary-text);
    }
  }
  
  .logo {
    text-align: center;
    font-size: 26px;
    margin-bottom: 40px;

    a{ 
      text-decoration: none;
      color: var(--secondary-text);
    }
  }

  .search-form {
    padding: 0px 18px;
    margin: 15px 0;
    position: relative;

    input {
      background-color: var(--chip);
      padding: 0 10px 0 40px;
      border: 1px solid var(--divider-default);
      height: 38px;
      width: 100%;
      overflow: hidden;
      color: var(--text);
      font-size: 13px;
      border-radius: 3px;
      direction: rtl;
      &:focus {
        border: 2px solid var(--accent-lighter);
        outline: none;
      }
    }

    button {
      color: var(--text);
      border: none;
      position: absolute;
      left: 22px;
      top: 4px;
      background-color: transparent;
      font-size: 20px;
    }
  }
  
  .nav-item {
    direction: rtl;
    color: var(--text);
    padding: 8px 10px;
    margin: 0 8px;
    border-left: 3px solid transparent;
    border-radius: 4px;

    span {
      padding-right: 10px;
    }

    &:hover {
      background-color: var(--divider-lighter);
    }

    &.active {
      background-color: var(--accent-emphasis);
      border-left: 3px solid var(--accent-default);

      &:hover {
        background-color: var(--divider-lighter);
      }
    }
  }

  hr {
    color: var(--secondary-text);
    margin: 20px 20px;
  }

  .results-background {
    background-color: var(--backdrop);
    opacity: .6;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    right: 220px;
    z-index: 3;
  }
  .search-results {
    background-color: var(--background-alternative);
    z-index: 3;
    height: calc(100% - 55px);
    position: fixed;
    top: 0;
    right: 220px;
    overflow: auto;
    transition: all 0.5s ease;
  }
  .search-results-inner {
     padding: 20px;
      h3 {
        text-align: right;
        font-size: 18px;
        color: var(--hint-text);
        margin: 20px 0 15px;
      }
     ul {
      list-style: none;
      padding: 0;

      li {
        a {
          text-decoration: none;
          background-color: var(--raised-button);
          color: var(--text);
          border: 1px solid var(--divider-lighter);
          padding: 7px;
          margin-bottom: 10px;
          width: 100%;
          display: flex;
          align-items: center;
          text-overflow: hidden;

          img {
            width: 55px;
            height: 55px;
            border-radius: 4px;
          }

          .results-names {
            display: flex;
            flex-direction: column;

            span {
              text-align: left;
              margin-left: 10px;
              font-size: 14px;
            }
            .results-artist {
              color: var(--secondary-text);
            }
          }
        }
        button:hover {
          background-color: #353543;
        }
      }
     }
  }
}