.MobileNav {
  z-index: 10;
  height: 70px;
  width: 100%;
  position: fixed;
  bottom: 0;
  overflow: hidden;
  border-top: 1px solid var(--divider-default);
  background-color: var(--background-alternative);
  padding: 15px;

  a {
    text-decoration: none;
    color: var(--accent-contrast);
  }

  nav {
    text-align: center;
    .mobilenav-text {
      font-size: 11px;
      display: block;
    }
    .mobilenav-icon {
      text-align: center;
      width: 20px;
      height: 20px;
      margin: 5px auto;
      svg {
        height: 100%;
        width: 100%;
      } 
    }
  }

  .mobilenav-disabled {
    color: var(--hint-text);
  }
}