.MusicPage{
  padding-top: 30px;
  h1 {
    font-size: 1.5rem;
  }
  h2 {
    font-size: 1.2rem;
  }
  .img-container {
    max-width: 320px;
    max-height: 320px;
    
    img {
      border-radius: 16px;
    }
  }
}