.Trending {

  h2 {
    padding-top: 1rem;
    font-weight: lighter;
    text-align: center;
    font-size: 1.4rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid rgba(198, 198, 198, 0.1);

  }
  .searched-list {
    list-style: none;
    padding: 0;

  }
  .searched-list-item {
    border-bottom: 1px solid rgba(198, 198, 198, 0.1);
    display: flex;
    

    img {
      height: 45px;
      width: 45px;
      margin-right: 14px;
    }
    button {
      background-color: transparent;
      border: 0;
      color: rgba(255, 255, 255, 0.7);
      height: 100%;
      display: block;
      padding: 15px;
      width: 100%;
      &:hover {
        color: #DC3545;

        .play-icon {
          color: #DC3545;
        }
      }
    }
  }
  .searched-list-item:hover {
    background-color: rgba(198, 198, 198, 0.1);
  }
}